/* mint-ui css reset */
.mint-button--primary{width:100%;margin:10px auto;}
.mint-tab-item-label {font-size: 16px;}
.mint-navbar .mint-tab-item.is-selected{margin-bottom: 0px;}
.mint-cell-title img{width:35px;}
.mint-cell-value img{width:35px;}
.mint-cell-wrapper{border-bottom: 1px #f1f1f1 solid;}
.mint-popup {height: 100%;overflow-y: scroll;}

/* this demo css */
body,ul,li,p,div{margin:0px;padding: 0px;border: 0px;}
html,body {width: 100%;height: 100%;font-family: "microsoft yahei"}
.header {height: 40px;width: 100%;clear:both;}
.box{padding: 10px;}
.swiper {
	width:100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.swiper img{width: 100%;height: 100%;}
.start_button{position: absolute;z-index: 2;display:block;bottom:100px;left:50%;margin-left:-50px;}
.button_form{width: 100%;text-align: center;    display: block;}
.footer{
	width:100%;text-align: center;height: 40px;position: absolute;bottom: 0;background: #ececec;line-height: 40px;
}

/*my*/
.mybg{width:100%;max-height:180px;}
.headimg{width:100px;margin:0 auto;}
.headimg img{width:100px;height:100px;border-radius: 50px;margin-top:-50px;/*box-shadow: 2px 2px 20px;*/}

.cell-category{text-align: left;margin:0 15px;}
.cell-money{text-align: left;margin:0 5px;width:60px;}
.cell-time{text-align: right;}

